<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header no-border">
      <buttn type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </buttn>
    </div>
    <div class="modal-body">
      <div class="approve-one-month-attendances">
        
          <h4>【残業申請】</h4>
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>翌日</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td></td>
                <td></td>
                <td>
                  <div>
                   
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              
            </tbody>
          </table>
          
        
      </div>
    </div>
  </div>
</div>